.form-inline > .MuiSvgIcon-root {
  color: aliceblue;
}

.form-inline > .MuiSvgIcon-root:hover {
  background: #577783;
  border-radius: 0.5rem;
}

.login__btn,
.sigup__btn {
  padding: 0.5rem;
  font-weight: bold;
  font-size: medium;
  margin: 0.5rem;
  margin-right: 0.5rem;
  padding-right: 1rem;
  border: 2px solid #577783;
  background: transparent;
  color: aliceblue;
  border-radius: 1rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.login__btn:hover,
.sigup__btn:hover {
  background: #577783;
  color: aliceblue;
}

#Avatar {
  margin: 1rem;
}

#Avatar:hover {
  background: transparent;
}
