.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personIcon{
  color: aqua;
  transform: scale(1.8);
  box-shadow: 1px 3px 1px #adb6ec;
  margin: 20px;
}

.strongBlue{
  color: blue;
}

.checkbox{
  width: 100%;
}


.signupButton{
  font-size: larger;
  padding: 4px;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
  width: max-content;
  background: linear-gradient(to right,  #6c5ee6 0%,#592ef5 10%,#512ece 90%,#4e51e7 100%);
  border-radius: 50px;
  box-shadow: 1px 3px 1px #a7aeda;
  border: 3px solid rgb(7, 10, 189);
  height: max-content;
}

.logo{
  text-align: center;
  size: 30px;
}

input{
  box-shadow: 1px 3px 1px #c1c6e6;
  border-radius: 10px;
}

.gologo{
  box-shadow: 1px 3px 1px #e6c1cc;
  text-align: center;
  color: rgb(233, 131, 131);
  size: 30px;
}
.falogo{
  text-align: center;
  box-shadow: 1px 3px 1px #383737;
  color: black;
  size: 30px;
}
.lilogo{
  text-align: center;
  box-shadow: 1px 3px 1px #b0a9ee;
  color: rgb(104, 83, 197);
  size: 30px;
}

.goborders{
  border: 2px solid rgb(233, 131, 131);
  border-radius: 10px;
}
.faborders{
  border: 2px solid black;
  border-radius: 10px;
}
.liborders{
  border: 2px solid rgb(104, 83, 197);
  border-radius: 10px;
}

.insideIcon{
  border-radius: 3px solid red;
  box-sizing: border-box;
  box-shadow: 1px 3px 1px #cac1c1;
  color: rgb(150, 150, 228);
}
/* .insideIcon::before{
  font-family: 'FontAwesome';
    padding:0 5px 0 15px;   
    box-shadow: 1px 3px 1px #383737;
} */


.separator{
  display: flex;
  align-items: center;
}

.separator .line{
  flex: 1;
  height: 1px;
  background-color: rgb(63, 61, 61);
}

.center{
  display: flex;
  justify-content: center;
  text-align: center;
}

#firstName{
  height: max-content;
}

#lastName{
  height: max-content;
}

*{box-sizing: border-box;}

.text{
  font-weight: bold;
}

.form-popup {
  border-radius: 50px;
  box-shadow: 1px 3px 1px #d2d6e9;
  /* display: none; */
  position: fixed;
  top: 20px;
  width: 30%;
  right: 35%;
  left: 35%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  width: 100%;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 0px 0 0px 0px;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.checkbox{
  width: fit-content;
}

.fs{
  transform: scale(1.8);
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}