.trending__blogs,
.popular__blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
  gap: 2rem;
  justify-content: center;
}

.popular,
.trending {
  padding-top: 2rem;
  padding-left: 2rem;
}
